:root{
    --tamanho-font:1.4em;
    --cor-fonte:#ffff;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
}
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-fonte);
}
.titulo{
    font-size: 2.5em;
    margin: 0;
}
.subtitle{
    font-size: 1.5em;
    margin: 0;
    /*color: rgba(14, 77, 94, 0.9);*/
    color: #fffA;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: aliceblue;
}
.seletores{
    display: flex;
    justify-content: space-between;
    min-width: 25%;
    font-size: var(--tamanho-font);
}
.seletores>label{
    line-height: 55px;
    vertical-align: middle;
    margin-left: 1.5rem;
}
.entrada{
    outline: none;
    padding: 5px 10px;
    margin: 10px 20px;
    font-size: var(--tamanho-font);
    color: var(--cor-fonte);
    border-radius: 5px;
    border: solid 1px #0009;
    background-color: #0005;
    text-align: center;
}
#numero{
    width: 100%;
}
#botao {
    background-color: #0E4D5E;
    padding: 10px 35px;
    border: 2px solid rgba(14, 77, 94, 0.5);
    border-radius: 2rem;
    color: var(--cor-fonte);
    font-size: var(--tamanho-font);
    cursor: pointer;
    transition: .5s;
}
#botao:hover{
    background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%)
}
#resultado{
    font-size: var(--tamanho-font);
    margin: 30px 0;
    padding: 15px 30px;
    border: solid 1px #0009;
    border-radius: 15px;
    background-color: #0005;
}
.invisivel{display: none}
#resultado>sub{
    margin-left: 5px;
}